<h2>About</h2>
<p>The Peer Evaluation Tool is created by CSE3901 team <b><%= link_to "The DeathWishers", "https://github.com/orgs/cse3901-2020au-11163/teams/the_deathwhishers" %></b> from Computer Science and Engineering Department in Ohio State of University</p>
<p>The basic features of this tool allow students to submit their evaluations to other students who are in the same group for different projects throughout the semester. Meanwhile, the tool also allows faculties to manage students, groups, projects, and review each student's evaluations in their courses.</p>
