<html>
<h2>Contact</h2>
<body>
<p>If you face any problems and are unable to resolve the issues, please contact us through our emails mentioned below.</p>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Email</td>
    </tr>
    <tr>
        <td>Rahul Reddy</td>
        <td>99rahulreddy@gmail.com</td>
    </tr>
    <tr>
        <td>Salil Monga</td>
        <td>monga.17@osu.edu</td>
    </tr>
    <tr>
        <td>Xiaoliang Chen</td>
        <td>chenxiaoliang020@gmail.com</td>
    </tr>
    <tr>
        <td>Miles Lindgren</td>
        <td>lindgren.23@osu.edu</td>
    </tr>
    <tr>
        <td>Yongbo Chen</td>
        <td>cyb1999925816@gmail.com</td>
    </tr>
</table>
</body>
</html>