<h1>Peer Evaluation Tool</h1>
<div class="container" align="center">
  <p>Welcome! Are you a student or a faculty?</p>
  <br>
  <%= button_to "I'm a student", evaluations_path, :method => :get %>
  <br>
  <%= button_to "I'm a faculty", home_page_faculty_path, :method => :get %>
</div>
