// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

th{
  background-color: lightgrey;
}
th, td{
  text-align: left;
  padding: 10px;
  width:10%;
}

a{
  padding: 5px;
}
