<footer class="footer">
  <small>
    <a href="https://cse-3901-soundarajan.netlify.app/labs/project6">CSE3901 Peer Evaluation Tool</a>
    by <a href="https://github.com/cse3901-2020au-11163/The_DeathWishers-Project-6">The DeathWishers</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", home_page_about_path %></li>
      <li><%= link_to "Contact", home_page_contact_path %></li>
    </ul>
  </nav>
</footer>